<nav id="sidebar">
<div class="px-4 pt-0 fixed-left sidebar_fixed">
  <ul class="list-unstyled components mb-5 font-weight-bold">
    <li>
      <a href="#page_glycanpathway" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">備品管理</a>
      <ul class="collapse list-unstyled" id="page_glycanpathway">
        <li>
            <a href="/equipments/insert">備品予約</a>
        </li>
        <li>
            <a href="/equipments/list">予約一覧</a>
        </li>
      </ul>
    </li>
    <li class="active">
      <a href="#page_signaling" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">施設申請確認</a>
      <ul class="collapse list-unstyled" id="page_signaling">
        <li>
            <a href="/facility/musicroom">音楽練習室</a>
        </li>
        <li class="active">
            <a href="/facility/meetingroom">会議室・和室</a>
        </li>
      </ul>
    </li>
  </ul>

</div>
</nav>

