<!DOCTYPE html>
<html lang="en">
  {% include "layouts/_headtag.html" %}
  {% include "layouts/_header.html" %}
  <body>
    <div class="wrapper d-flex align-items-stretch">
      {% include "layouts/_gen.html" %}
      {% include "layouts/_sidebar.html" %}
      <div class="container">
        <div class="card shadow mb-4 p-4">

          <table class="table table-bordered" id="reservation_table">

            <tr>
              <td><h5>備品情報</h5></td>
            </tr>
            <tr>
              <td>貸出</td>
              <td>
                <input type="date" id="start_date">
                <input type="time" id="start_time">
              </td>
            </tr>
            <tr>
              <td>返却</td>
              <td>
                <input type="date" id="end_date">
                <input type="time" id="end_time">
              </td>
            </tr>
            <tr>
              <td>備品のカテゴリ</td>
              <td>
                <select id="equip_category" onchange="set_equipment_option(this)">
                  <option value="">-</option>
                  {% for equip_category in equip_json %}
                  <option value="{{equip_category}}">{{ equip_category }}</option>
                  {% endfor %}
               </select>
              </td>
            </tr>
            <tr>
              <td>名前</td>
              <td>
                <select id="equip_name" onchange="set_count_option(this)">
                  <option value="">-</option>
               </select>
              </td>
            </tr>
            <tr>
              <td>
                個数
                <br>
                  <input type="checkbox" id="youbousyo_input" onchange="youbousyo_handler(this)">
                  <label for="youbousyo_input">要望書</label>
                </td>
              <td>
                <select id="equip_count" name="subsubselect">
                  <option value="">-</option>
               </select>
              </td>
            </tr>

            <tr>
              <td><h5>利用者情報</h5></td>
            </tr>
            <tr>
              <td>団体名</td>
              <td>
                <input id="group" />
              </td>
            </tr>
            <tr>
              <td>名前</td>
              <td>
                <input id="client" />
              </td>
            </tr>
            <tr>
              <td>Tell</td>
              <td> 
                <input id="tell" />
              </td>
            </tr>
            <tr>
              <td>備考</td>
              <td> 
                <textarea id="note" style="width:100%;height:100%;"></textarea>
              </td>
            </tr>

          </table>

          <button type="button" class="btn btn-primary" onclick="submit_form()">予約する</button>
        </div>
      </div>
    </div>

  </body>
</html>

<script>
  var equip_str = "{{ equip_json | safe }}".replaceAll("'", '"');
  var equip_json = JSON.parse(equip_str)
  // console.log(equip_json)

  const set_equipment_option = (element) => {
    let $child_selection = document.getElementById("equip_name")
    document.getElementById("equip_count").innerHTML = ""
    var content_str = `<option value="">-</option>`
    for(let equip of equip_json[element.value]){
        content_str += `<option value="${equip[0]}">${equip[0]}</option>`
    }
    $child_selection.innerHTML = content_str
  }

  const set_count_option = (element) => {
    let $child_selection = document.getElementById("equip_count")
    var content_str = `<option value="">-</option>`
    for(let cate in equip_json){
      for(let equip of equip_json[cate]) {
        if(equip[0] != element.value) continue
        for(let i=1; i<=equip[1]; i++) {
          content_str += `<option value="${i}" id="not_youbousyo">${i}</option>`
        }
      }
    }
    $child_selection.innerHTML = content_str
  }

  const check_form = () => {
      if(document.getElementById("start_date").value == ""
        || document.getElementById("start_time").value == ""
        || document.getElementById("end_date").value == ""
        || document.getElementById("end_time").value == ""
        || document.getElementById("equip_category").value == ""
        || document.getElementById("equip_name").value == ""
        || document.getElementById("equip_count").value == ""
        || document.getElementById("group").value == ""
        || document.getElementById("client").value == ""
        || document.getElementById("tell").value == ""
        ) {
          set_alert("alert", "入力に不備があります。", "danger")
          return false
        }
        return true
    }

  const youbousyo_handler = ($input) => {
      if($input.checked) {
        let $child_selection = document.getElementById("equip_count")
        let content_str = ""
        for(let i=0; i<300; i++){
          content_str += `<option value="${i}" id="is_youbousyo">${i}</option>`
        }
        $child_selection.innerHTML += content_str
        for(let $option_not_youbousyo of document.querySelectorAll("#not_youbousyo")) {
            $option_not_youbousyo.hidden = true
        }
      } else {
        for(let $option_is_youbousyo of document.querySelectorAll("#is_youbousyo")) {
            $option_is_youbousyo.remove()
        }
        for(let $option_not_youbousyo of document.querySelectorAll("#not_youbousyo")) {
            $option_not_youbousyo.hidden = false
        }
      }
    }

  const submit_form = () => {
    if(!check_form()) return
    const json = {
      title: document.getElementById("equip_name").value,
      start: {
        date: document.getElementById("start_date").value,
        time: document.getElementById("start_time").value,
      },
      end: {
        date: document.getElementById("end_date").value,
        time: document.getElementById("end_time").value,
      },
      description: {
        category: document.getElementById("equip_category").value,
        name: document.getElementById("equip_name").value,
        count: document.getElementById("equip_count").value,
        group: document.getElementById("group").value,
        client: document.getElementById("client").value,
        tell: document.getElementById("tell").value,
        note: document.getElementById("note").value,
      },
    }
    $.ajax({
    type: "POST",
    url: "/api/equipments/insert",
    contentType: "application/json",
    data: JSON.stringify(json),
    dataType: "json",
    scriptCharset: "utf-8",
    })
    .done(function (result) {
      console.log(result)
      set_alert("check", "予約されました。", "success")
    })
    .fail(function (data, jqXHR, textStatus, errorThrown) {
      set_alert("alert", "予約に失敗しました。ネットワークを確認して再度予約してください。", "danger")
    })
    .always(function () {
    });
  }
</script>
