<!DOCTYPE html>
<html lang="en">
  {% include "layouts/_headtag.html" %}
  <body>
    {% include "layouts/_gen.html" %}

    <div>
      <label>貸出</label>
      <input type="date" id="start_date">
    </div>
  
    <div>
      <label>返却</label>
      <input type="date" id="end_date">
    </div>

    <button onclick="submit_form()">予約を調べる</button>

    <table class="table table-bordered" id="reservation_table">
      <thead>
        <tr>
          <th>団体名</td>
          <th>名前</td>
          <th>TELL</td>
          <th>備品名</td>
          <th>個数</td>
          <th>貸出時間</td>
          <th>返却時間</td>
          <th>予約日</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </body>
</html>

<script>
  const check_form = () => {
      if(document.getElementById("start_date").value == ""
        || document.getElementById("end_date").value == ""
        ) {
          set_alert("alert", "入力に不備があります。", "danger")
          return false
        }
        return true
    }

  const create_table = (reservations) =>{
    table_contents = ""
    for(let reservation of reservations) {
        table_contents += `
          <tr>
             <td>${reservation.description.group}</td>
             <td>${reservation.description.client}</td>
             <td>${reservation.description.tell}</td>
             <td>${reservation.description.name}</td>
             <td>${reservation.description.count}</td>
             <td>${reservation.start.dateTime}</td>
             <td>${reservation.end.dateTime}</td>
             <td>${reservation.created}</td>
          </tr>`
    }
    document.querySelector("#reservation_table > tbody").innerHTML = table_contents
  }

  const submit_form = () => {
    if(!check_form()) return
    const json = {
      start: {
        date: document.getElementById("start_date").value,
        time: "00:00"
      },
      end: {
        date: document.getElementById("end_date").value,
        time: "23:59"
      },
    }
    $.ajax({
    type: "POST",
    url: "/api/equipments/list",
    contentType: "application/json",
    data: JSON.stringify(json),
    dataType: "json",
    scriptCharset: "utf-8",
    })
    .done(function (result) {
      create_table(result)
      console.log(result)
    })
    .fail(function (data, jqXHR, textStatus, errorThrown) {
      set_alert("alert", "予約の取得に失敗しました。ネットワークを確認してください。", "danger")
    })
    .always(function () {
    });
  }
</script>

