<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>

    <div>
      <label>貸出</label>
      <input type="date" id="start_date">
    </div>
  
    <div>
      <label>返却</label>
      <input type="date" id="end_date">
    </div>

    <button onclick="submit_form()">予約を調べる</button>

    <table class="table table-bordered" id="reservation_table">
      <thead>
        <tr>
          <th>ijio</td>
          <th>ijio</td>
          <th>ijio</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>jfiosida</td>
          <td>jfiosida</td>
          <td>jfiosida</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>

<script>
  const check_form = () => {
      if(document.getElementById("start_date").value == ""
        || document.getElementById("end_date").value == ""
        ) {
          alert("入力を確認してください")
          return false
        }
        return true
    }

  const create_table = (reservations) =>{
    table_contents = ""
    for(let reservation of reservations) {
        table_contents += `
          <tr>
             <td>${reservation.summary}</td>
             <td>${reservation.start.dateTime}</td>
             <td>${reservation.end.dateTime}</td>
          </tr>`
    }
    document.querySelector("#reservation_table > tbody").innerHTML = table_contents
  }

  const submit_form = () => {
    //if(!check_form()) return
    const json = {
      start: document.getElementById("start_date").value,
      end: document.getElementById("end_date").value,
    }
    $.ajax({
    type: "POST",
    url: "/api/equipments/list",
    contentType: "application/json",
    data: JSON.stringify(json),
    dataType: "json",
    scriptCharset: "utf-8",
    })
    .done(function (result) {
      create_table(result)
      console.log(result)
    })
    .fail(function (data, jqXHR, textStatus, errorThrown) {
      alert("Sorry, the simulation was failed. \n Something wrong.");
    })
    .always(function () {
    });
  }
</script>

