body {
  background-color: #D4C5A5;
  padding-top: 100px; 
}
#bgcolor{
  background-color: #9F864C;
}
#bgcolor h6{
  font-size: 18px;
}
.container{
  margin-top:30px;
}
.container p{
  font-size :14px;
  height: 27px;
}
#mgt{
  margin-top: 50px;
}
.namelis{
  margin-bottom: 19px;
}
.inputlis{
  margin-bottom: 13px;
}

/*********************************/
/************side var/************/
/*********************************/
.sidebar_fixed {
  position: sticky;
  top: 100px;
}
#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: #41221D;
  color: rgb(82,90,100);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
  height: 100vh;
}
#sidebar.active {
  margin-left: -300px; 
}
#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto; }
#sidebar .logo span {
  display: block; 
}
#sidebar ul.components {
  padding: 0; 
}
#sidebar ul li {
  font-size: 14px; 
}
#sidebar ul li > ul {
  margin-left: 10px; 
}
#sidebar ul li > ul li {
  font-size: 12px !important; 
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
#sidebar ul li a:hover {
  color: #00bfff; 
  text-decoration:none
}
#sidebar ul li.active > a {
  background: transparent;
  color: #00bfff; 
}
/*@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -300px; 
  }
  #sidebar.active {
      margin-left: 0; 
  } 
}*/

a[data-toggle="collapse"] {
  position: relative; 
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}


/*********************************/
/************top var/************/
/*********************************/
#navbar{
  background: #41221D;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 0;
}
#navbar .logo {
  display: inline;
  margin: 0 auto; 
}
#navbar .logo span {
  display: inline; 
}
#navbar ul.components {
  padding: 0; 
}
#navbar ul li {
  font-size: 16px; 
  height: 100px;
  padding-right: 20px;
  padding-left: 40px;
  line-height: 150px; 
  display: inline-block;
}
#navbar ul li a {
  text-align: right;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255,0.5); 
}
#navbar ul li a:hover {
  color: #00bfff; 
  text-decoration:none
}
#navbar ul li.active > a {
  background: transparent;
  color: #00bfff; 
}
#navbar p {
  font-size: 40px;
  color: rgba(255, 255, 255);
  margin-bottom: 0;
  /*font-family: Candara;*/
  font-family: Comic Sans MS;
}
.brand1{
  font-size: 60px;
  font-weight: 700;
}
.brand2{
  font-weight: 500;
}
.brand3{
  font-size: 60px;
  font-weight: 700;
  font-style: oblique; 
}
.brand4{
  font-weight: 500;
  font-style: oblique; 
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  height: 600px;
}
.no-touch .scrollable.hover {
  overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
  overflow: visible;
  overflow-y: auto;
}
.slimScrollBar {
  border-radius: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box !important;
}



